.App-js {
  text-align: center;
  background-color: #fffdf8;
  display: grid;
  grid-template-areas:
    "head head"
    "imagem forms"
    "footer footer";
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 60px calc(100vh - 100px) 40px;
  font-family: 'Open Sans', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

