.imagemForms {
    grid-area: imagem;
    justify-items: center;
    place-self: center;
    align-self: center;
    border-radius: 4px;
    max-width: 100%;
    width: 550px;
    max-height: 400px;
    
  }